@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Eater&family=Ubuntu+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
html{
    background-color: white;
}


.heading{
    text-decoration: double underline;
    font-size: 30px;
    margin-top:40px ;
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

.nav-p{
    list-style-type: none;
    padding: 33px;
    width: 100%;
    background-color: rgb(21,111,229);
    display: flex;
}

.inside-li{
    color: white;
    font-family: 'Eater', cursive;
    text-decoration: none;
    padding: 37px;
    font-size: 35px;
    font-weight: bold;
}

.sign-form{
    border-radius: 10px;
    padding: 20px 42px;
    background-color: #02f24d17;
    width: 443px;
    margin: auto;
    margin-top: 50px;
    height: 523px;
}

.input-field{
    font-family: 'Ubuntu Mono', monospace;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    margin: 12px 22px 15px;;
    width: 300px;
    padding: 13px;
}

#butn{
    outline: none;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}