@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html{
  background-color: rgb(229, 240, 248);
}

#heading{
  margin-top: -132px;
  font-family: 'Rock Salt', cursive;
  font-size: 50px;
  color: black;
  margin-left: -27px;
}

#fb-link{
  margin: 16px;
  font-family: 'Special Elite', cursive;
  color:black;
  font-weight: bold;
}

#click-fb{
  border: 2px solid black;
  width: 153px;
  padding: 7px 2px 6px 4px;
  border-radius: 1em;
  font-size: 26px;
  font-weight: bold;
  outline: none;
  background-color:rgb(178,223,252) ;
  cursor: pointer;
}

.line-or{
  margin-left: 10px;
  margin-top: 29px;
}

.nav-c{
  padding: 15px;
  width: 100%;
  background-color: rgb(21,111,229);
  border-bottom: 10px solid white;
  display: flex;
  font-size: 1.2em;
}

.nav, ul, li, a {
  list-style-type: none;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-n{
  list-style-type: none;
  margin: 0px 13px 3px 0px;
  padding: 0px 23px 0px 48px;
}

#home{
  border-bottom: none;
}

#services{
  border-bottom: none;
}

#about{
  border-bottom: none;
}

#contact{
  border-bottom: none;
}

.form{
  background-color: white;
  border: none;
  width:450px;
  box-sizing: border-box;
  margin: auto;
}

.form, hold {
  outline: none;
  margin-top: 150px;
  border: 5px solid white;
  border-radius: .5em;
  padding: 131px 47px;
  height: 468px;
}

#u-name, #u-pass {
  border: 2px solid black;
  font-size: 22px;
  font-weight: bold;
  outline: none;
  border-radius: 3em;
  margin: 8px;
  width: 350px;
  padding: 10px;
}

.button{
  background-color: rgb(178,223,252);
  font-size: 22px;
  font-weight: bold;
  margin: 8px;
  border:2px solid black;
  border-radius: 1.9em;
  outline: none;
  width: 350px;
  padding: 10px;
  margin-left: 5px;
}

#cp-rgt{
  margin: 250px 27px;
  font-family: 'Permanent Marker', cursive;
}

#cont-img{  
  width: 450px;
  border-radius: 15px;
  margin-right: -600px;
  float: right;
  margin-top: -286px;
}